# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
*.db
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
